.imagen1	{
	width:800px;
	height:300px;
		}
.imagen2	{
	width:800px;
	height:350px;
		}
.imagen4	{
	width:300px;
	height:500px;
		}
.imagen3	{
	position:relative;
	left:10%;
	width:30%;
	height:12%;
		}
body		{
	background-image:url(../Imagenes/IMG-20190217-WA0057.jpg);
	background-attachment:fixed;
		}
p		{
	font-size:35px;
	font-family:Berlin Sans FB;
		}
h2,h3,h4	{
	font-family:Broadway;
	color:red;
	font-size:50px;
		}	
aside		{
	background-color:white;
	width:300px;
	height:auto;
	float:right;
	padding:10px;
	margin:15px;
	position:absolute;
	top:127%;
	left:75%;
	text-align:center;
		}
.stanlee	{
	font-size:30px;
	color:black;
	background-color:gray;
	width:1000px;
	margin:0px;
	padding:8px;
	margin-top:0.5%;
		}
.piedepagina	{
	background-color:#5e2144;
	position:relative;
	width:100%;
	height:auto;
		}

	
.primer_parrafo	{
	top:0%;
	background:black;
	width:70%;
	bottom:50%;
	margin-top:0.5%;
	padding:3%;
	position:relative;
	color:white;
	text-align:justify;
		}
.menu		{	
	height:auto;
	width:auto;
	background:gray;
		}
.ulli		{
	float:left;
	margin:2%;
	margin-left:3%;
	font-size:120%;
		}
.lista		{
	list-style:none;
	width:50%;
	margin:auto;
	height:80px;
		}
img		{
	width:100%;
		}
.white		{
	color:white;
		}
.minilista	{
	list-style:none;
		}
.iroman	{
	position:relative;
	top:2px;	
	width:25%;}

.araña{position:relative;
	width:19%;
	height:25%;
	left:20%;}
cite	{
	background-color:black;
	color:red;
	font-size:20px;
	}
.registro	{
		width:17%;
		height:auto;
		left:80%;
		position:absolute;
		top:345%;
		}
label		{
		font-size:30px;
		color:yellow;
		}
.texto		{
		font-size:30px;
		background:red;
		}