		
			h1{color:green;font-size:70px;font-style:new roman;text-align:center}
			h2{color:blue;font-size:40px;font-style:new roman;text-align:left}
			h3{color:purple;font-size:30px;font-style:new roman;text-align:left}
			p{font-size:25px;font-style:calibri;font-style:justifice}
			img{widht:600px;height:600px;margin:auto;display:block}
			button{widht:100px;height:100px;display:block;margin:reft;font-size:30px}
		